<div class="container">
  <div class="form-box">
    <div class="form">
      <span class="title">Sign up</span>
      <span class="subtitle">Create a free account with your email.</span>
      <div class="d-flex flex-column">
        <div class="form-container">
          <input type="text" class="input" placeholder="Enter Name" [(ngModel)]="signUpObj.name">
        </div>
        <div class="form-container my-2">
          <input type="email" autofocus class="input" placeholder="Email" [(ngModel)]="signUpObj.email">
        </div>
        <div class="form-container">
          <input type="password" class="input" placeholder="Password" [(ngModel)]="signUpObj.password">
        </div>
      </div>
      <button (click)="signUp()" class="btn btn-primary">Create an Account</button>
    </div>
    <div class="form-section">
      <p>Already have an account? <a routerLink="/">Log in</a> </p>
    </div>
  </div>
</div>