<div class="container-fluid">
    <div class="my-3 ms-2 d-flex justify-content-between bg-light p-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><i class="bi bi-arrow-90deg-left mx-2"></i>
                    <a href="javascript:void(0);" class="text-decoration-none" (click)="backToManageOta()">Back to
                        Manage OTA</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">View OTA</li>
            </ol>
        </nav>
    </div>
    <div class="row justify-content-center table-responsive align-items-center">
        <div class="col-sm-12">
            <div class="table-wrapper shadow">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="title">Property List</span>
                        </div>
                        <div class="col-sm-6 d-flex justify-content-end">
                            <button href="javascript:void(0);"(click)="getPropertyListByOTAId()" [disabled]="loader"  title="Refresh" class="btn btn-primary btn-lg mx-2"
                                data-toggle="modal"><span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
                                  </svg></span></button>
                            <a href="javascript:void(0);"(click)="importHotels('GET_PROPERTY_LIST')" class="btn btn-success import-btn"
                                data-toggle="modal"><span>Import Hotels</span></a>
                        </div>
                    </div>
                </div>
                <table class="table table-shadow table-sm table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr class="table-row-rooms">
                            <th>OTA</th>
                            <th>Property ID</th>
                            <th>Property Name</th>
                            <th>Country</th>
                            <th>City</th>
                            <th>View</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="loader">
                            <td class="tg-cly1"></td>
                            <td class="tg-cly1"></td>
                            <td class="tg-cly1"></td>
                            <td class="tg-cly1"></td>
                            <td class="tg-cly1"></td>
                            <td class="tg-cly1"></td>
                            <td class="tg-cly1"></td>
                            <td class="tg-cly1"></td>
                        </tr>
                        <ng-container *ngIf="propertyList.length == 0 && !loader">
                          <tr>
                            <td colspan="8" class="text-center">No properties added yet , please import</td>
                          </tr>
                        </ng-container>
                        
                        <ng-container *ngIf="propertyList.length>0 && !loader">

                            <tr *ngFor="let item of propertyList;let idx = index;" class="align-middle" (mouseover)="showActionDropDown[idx]=true" (mouseleave)="showActionDropDown[idx]=false;">
                                <td> <a href="javascript:void(0);" (click)="showDetail(item)" class="text-decoration-none text-primary">{{currentOtaDetail.site_unformat_name|titlecase}}</a></td>
                                <td>{{item.property_id}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.country_code}}</td>
                                <td>{{item.location}}</td>
                                <td><a href="javascript:void(0);" class="text-primary" (click)="viewRoom(item)">View Room</a></td>
                                <td class="action-btn">
                                    <div class="d-flex" *ngIf="showActionDropDown[idx]">
                                      <button type="button" class="btn btn-sm btn-light " [title]="item.isEditable ? 'Save' : 'Edit'" (click)="item.isEditable=!item.isEditable">
                                        <ng-container *ngIf="!item.isEditable">
                                          <svg xmlns="http://www.w3.org/2000/svg"  width="16" height="16" fill="currentColor"
                                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path
                                              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z">
                                            </path>
                                            <path fill-rule="evenodd"
                                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z">
                                            </path>
                                          </svg>
                                        </ng-container>
                                        <ng-container *ngIf="item.isEditable">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                            class="bi bi-floppy-fill" viewBox="0 0 16 16">
                                            <path
                                              d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z" />
                                            <path
                                              d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z" />
                                          </svg>
                                        </ng-container>
                                      </button>
                                      <button type="button" class="btn btn-sm btn-outline-danger mx-2" (click)="toggleDeleteModal(idx)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                          class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                          <path
                                            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5">
                                          </path>
                                        </svg>
                                      </button>
                                    </div>
                                  </td>
                            </tr>
                        </ng-container>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="modal" tabindex="-1" *ngIf="showDetailModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Property Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="showDetailModal=false;"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <ul class="property-details-list">
              <li><strong>OTA:</strong> {{ currentOtaDetail?.site_unformat_name }}</li>
              <li><strong>Property Name:</strong> {{ propertyDetailsConfig?.name }}</li>
              <li><strong>Property ID:</strong> {{ propertyDetailsConfig?.property_id }}</li>
              <li><strong>Number of Accoms</strong> {{ propertyDetailsConfig?.num_of_accoms }}</li>
              <li><strong>Address:</strong> {{ propertyDetailsConfig?.address }}</li>
              <li><strong>Location:</strong> {{ propertyDetailsConfig?.location }}</li>
              <li><strong>Postal Code:</strong> {{ propertyDetailsConfig?.postal_code }}</li>
              <li><strong>Language:</strong> {{ propertyDetailsConfig?.language }}</li>
              <li><strong>Latitude:</strong> {{ propertyDetailsConfig?.latitude }}</li>
              <li><strong>Longitude:</strong> {{ propertyDetailsConfig?.longitude }}</li>
              <li><strong>Currency:</strong> {{ propertyDetailsConfig?.currency_code }}</li>
              <li><strong>Time Zone:</strong> {{ propertyDetailsConfig?.time_zone }}</li>
            </ul>
          </div>
          <div class="col-sm-6">
              <img [src]="propertyDetailsConfig?.images" width="320" loading="lazy" height="360" class="img-rounded" [alt]="propertyDetailsConfig?.name">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-end align-items-center">
          <button class="btn btn-danger" (click)="showDetailModal=false;">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal-backdrop fade in" *ngIf="showDetailModal"></div>
