<div class="container-fluid mt-4">
    <fieldset class="border shadow mb-3 rounded">
        <legend class="float-none w-auto"> <button class="btn btn-sm text-light btn-primary ">Search Reservation
            </button> </legend>
        <div class="row my-2 align-items-baseline flex-wrap search-container px-3">
            <div class="col-sm-2 my-2">
                <div class="small text-danger fw-bold clear text-end"
                    (click)="searchConfig['reservations_no']=null"><i class="bi bi-x-circle fs-4"></i></div>
                <input type="text" class="form-control rounded-pill" [(ngModel)]="searchFilterValue"
                    placeholder="Booking Ref Id">
            </div>
            <!-- <div class="col-sm-2 my-2">
                <input type="text" class="form-control rounded-pill" [(ngModel)]="searchConfig['guest_email']"
                    placeholder="Guest email">
                <div class="small text-danger fw-bold clear text-end" *ngIf="searchConfig['guest_email']"
                    (click)="searchConfig['guest_email']=null"><i class="bi bi-x-circle fs-4"></i></div>
            </div> -->
            <!-- <div class="col-sm-2 my-2">
                <select class="form-select rounded-pill mx-2" [(ngModel)]="searchConfig['arrival_status']">
                    <option selected="true" [value]="null" disabled>All Arrivals</option>
                    <option value="check_in">Check In</option>
                    <option value="check_out">Check Out</option>
                    <option value="create_time">Create Time</option>
                    <option value="today">Today Arrivals</option>
                    <option value="1_days">Tomorrow Arrivals</option>
                    <option value="3_days">Next 3 days Arrivals</option>
                    <option value="5_days">Next 5 days Arrivals</option>
                    <option value="7_days">Next 7 days Arrivals</option>
                    <option value="15_days">Next 15 days Arrivals</option>
                </select>
                <div class="small text-danger fw-bold clear text-end" *ngIf="searchConfig['arrival_status']"
                    (click)="searchConfig['arrival_status']=null"><i class="bi bi-x-circle fs-4"></i></div>
            </div> -->
            <!-- <div class="col-sm-2 my-2">
                <app-multiselect-dropdown
                    [inputConfig]="{reservation_status:this.constant.reservation_status,'reservationPage':true}"
                    (emitToParent)="receiveChildEvent($event)"></app-multiselect-dropdown>
                <div class="small text-danger fw-bold clear text-end"
                    *ngIf="searchConfig['reservation_status'].length>0" (click)="clearReservationStatus()"><i class="bi bi-x-circle fs-4"></i></div>

            </div> -->
            <!-- <div class="col-sm-2 my-2">
                <select class="form-select rounded-pill mx-2" [(ngModel)]="searchConfig['ota_details_id']">
                    <option elected="true" [value]="null" disabled>All Channel</option>
                    <ng-container *ngFor="let ota of otaDetailList">
                        <option [value]="ota.id">{{ota.name}}</option>
                    </ng-container>
                </select>
                <div class="small text-danger fw-bold clear text-end" *ngIf="searchConfig['ota_details_id']"
                    (click)="searchConfig['ota_details_id']=null"><i class="bi bi-x-circle fs-4"></i></div>
            </div> -->
            <div class="col-sm-2 d-flex align-items-center mb-4">
                <button type="button" class="btn btn-primary rounded-pill" (click)="searchByFilter()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0">
                        </path>
                    </svg>
                    Search
                </button>
                <div class="small text-danger fw-bold clearAll text-end mx-2"
                    *ngIf="searchConfig['reservations_no']||searchConfig['reservation_status'].length>0||searchConfig['ota_details_id']||searchConfig['guest_email']||searchConfig['arrival_status']"
                    (click)="clearAllFilter()"><i class="bi bi-x-circle-fill fs-4"></i></div>

            </div>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-sm-12">

            <div class="table-wrapper shadow mb-2 ">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="title import-booking">List Reservations</span>
                        </div>
                    </div>
                </div>
                <table class="table table-shadow table-lg">
                    <thead class="thead-dark">
                        <tr class="table-row-rooms">
                            <th>Booking Ref Id</th>
                            <th>Check In <i class="bi bi-box-arrow-in-right"></i></th>
                            <th>Check Out <i class="bi bi-box-arrow-right"></i></th>
                            <th>Contact</th>
                            <th>Room <i class="bi bi-house-door-fill"></i></th>
                            <th>Price <i class="bi bi-person-arms-up"></i></th>
                            <th>Guests</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="loader">
                            <td class="tg-cly1">
                            </td>
                            <td class="tg-cly1">
                            </td>
                            <td class="tg-cly1">
                            </td>
                            <td class="tg-cly1">
                            </td>
                            <td class="tg-cly1">
                            </td>
                            <td class="tg-cly1">
                            </td>
                            <td class="tg-cly1">
                            </td>
                        </tr>
                        <tr *ngIf="filteredReservation.length==0 && !loader">
                            <td colspan="7" class="text-center">No Data Found</td>
                        </tr>
                        <ng-container *ngFor="let item of filteredReservation;let idx = index;">
                            <tr class="table-row-rooms" *ngIf="!loader">
                                <td>{{item.bookingRefId}}</td>
                                <td>{{item.checkIn|date}}</td>
                                <td>{{item.checkOut|date}}</td>
                                <td> <a href="javascript:void(0);" class="text-info"
                                        (click)="showGuestDetail(item)">{{item.contact.firstName}}
                                        {{item.contact.lastName}}</a> </td>
                                <td>{{item.guestCount.rooms}}</td>
                                <td>{{item.totalPrice}} {{item.currency}} </td>
                                <td>Adults : {{item.guestCount.adults}}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>


<div class="modal" tabindex="-1" *ngIf="showDetailModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Booking Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="showDetailModal=false;"></button>
            </div>
            <div class="modal-body">
                <div class="tabs">
                    <button class="tab-button" (click)="currentTab = 'booking'"
                        [class.active]="currentTab === 'booking'">Booking Details</button>
                    <button class="tab-button" (click)="currentTab = 'guests'"
                        [class.active]="currentTab === 'guests'">Guest Details</button>
                    <button class="tab-button" (click)="currentTab = 'contact'"
                        [class.active]="currentTab === 'contact'">Contact Details</button>
                </div>
                <div class="tab-content">
                    <div *ngIf="currentTab === 'booking'" class="tab-pane">
                        <!-- <h3>Booking Details</h3> -->
                        <p><strong>Booking Reference ID:</strong> {{ guestDetailConfig.bookingRefId }}</p>
                        <p><strong>Check-In:</strong> {{ guestDetailConfig.checkIn | date:'yyyy-MM-dd HH:mm' }}</p>
                        <p><strong>Check-Out:</strong> {{ guestDetailConfig.checkOut | date:'yyyy-MM-dd HH:mm' }}</p>
                        <p><strong>Hotel ID:</strong> {{ guestDetailConfig.hotelId }}</p>
                        <p><strong>Room ID:</strong> {{ guestDetailConfig.roomId }}</p>
                        <p><strong>Rate Plan ID:</strong> {{ guestDetailConfig.ratePlanId }}</p>
                        <p><strong>Quantity:</strong> {{ guestDetailConfig.quantity }}</p>
                        <p><strong>Currency:</strong> {{ guestDetailConfig.currency }}</p>
                        <p><strong>Total Price:</strong> {{ guestDetailConfig.totalPrice }}</p>
                        <p><strong>Special Requests:</strong> {{ guestDetailConfig.specialRequests }}</p>
                    </div>
                    <div *ngIf="currentTab === 'guests'" class="tab-pane">
                        <!-- <h3>Guest Details</h3> -->
                        <ul>
                            <li *ngFor="let guest of guestDetailConfig.guests">
                                <strong>Name:</strong> {{ guest.firstName }} {{ guest.lastName }}<br>
                                <strong>Room Sequence:</strong> {{ guest.roomSeq }}<br>
                                <strong>Sequence:</strong> {{ guest.seq }}<br>
                                <strong>Child:</strong> {{ guest.isChild ? 'Yes' : 'No' }}
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="currentTab === 'contact'" class="tab-pane">
                        <!-- <h3>Contact Details</h3> -->
                        <p><strong>First Name:</strong> {{ guestDetailConfig.contact.firstName }}</p>
                        <p><strong>Last Name:</strong> {{ guestDetailConfig.contact.lastName }}</p>
                        <p><strong>Email:</strong> {{ guestDetailConfig.contact.email }}</p>
                        <p><strong>Telephone:</strong> {{ guestDetailConfig.contact.telephone }}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end align-items-center">
                    <button class="btn btn-danger" (click)="showDetailModal=false;">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal-backdrop fade in" *ngIf="showDetailModal"></div>