<body class="x  x-fonts-montserrat x-fonts-roboto container-fluid">
    <div id="layout-0-d-1330-b-0-7998-437-f-9-b-33-551649985895"
        class="layout layout-layout layout-layout-layout-27 locale-es-ES lang-es">
        <div data-ux="Page" id="page-166746"
            class="x-el x-el-div x-el c1-1 c1-2 c1-3 c1-4 c1-5 c1-6 c1-7 c1-8 c1-9 c1-a c1-b c1-c c1-d c1-e c1-f c1-g c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
            <div data-ux="Block" class="x-el x-el-div page-inner c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                <div id="a55bcd7a-20d1-437a-b82e-b162738847ff" class="widget widget-privacy widget-privacy-privacy-1">
                    <div data-ux="Widget" role="region" id="a55bcd7a-20d1-437a-b82e-b162738847ff"
                        class="x-el x-el-div x-el c1-1 c1-2 c1-3 c1-b c1-c c1-d c1-e c1-f c1-g c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                        <div>
                            <section data-ux="Section"
                                class="x-el x-el-section c1-1 c1-2 c1-3 c1-h c1-i c1-b c1-c c1-q c1-r c1-d c1-e c1-f c1-g">
                                <div data-ux="Container"
                                    class="x-el x-el-div c1-1 c1-2 c1-v c1-w c1-x c1-y c1-z c1-b c1-c c1-10 c1-d c1-11 c1-e c1-12 c1-f c1-13 c1-g">
                                    <h1 role="heading" aria-level="1" data-ux="SectionHeading"
                                        data-aid="PRIVACY_SECTION_TITLE_RENDERED" data-promoted-from="2" data-order="0"
                                        data-typography="HeadingGamma" data-font-scaled="true"
                                        class="mt-3 text-center x-el x-el-h1 c1-63 c1-2 c1-1m c1-1n c1-64 c1-32 c1-33 c1-25 c1-65 c1-1c c1-1e c1-4l c1-5g c1-66 c1-67 c1-5h c1-5i c1-5j c1-5k">
                                        <span data-ux="Element" class="">PRIVACY POLICY</span></h1>
                                    <div data-ux="Grid"
                                        class="x-el x-el-div c1-1 c1-2 c1-16 c1-6c c1-6d c1-6e c1-25 c1-6f c1-6g c1-6h c1-b c1-c c1-6i c1-6j c1-6k c1-6l c1-d c1-e c1-f c1-g">
                                        <div data-ux="GridCell"
                                            class="x-el x-el-div c1-1 c1-2 c1-6c c1-6m c1-6n c1-6o c1-z c1-1z c1-6p c1-4q c1-6q c1-b c1-c c1-6r c1-6s c1-6t c1-6u c1-6v c1-6w c1-6x c1-d c1-6y c1-6z c1-70 c1-e c1-f c1-g">
                                            <div data-ux="Text" data-aid="PRIVACY_CONTENT_RENDERED"
                                                data-typography="BodyAlpha"
                                                class="x-el c1-1 c1-2 c1-1m c1-1n c1-4k c1-25 c1-t c1-b c1-4g c1-c c1-3t c1-d c1-e c1-f c1-g x-rt">
                                                <p style="margin:0"><span><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">WEBSITE
                                                            PRIVACY POLICY</strong></span></p>
                                                <p style="margin:0"><span><br></span></p>
                                                <p style="margin:0"><span><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">I.
                                                            PRIVACY POLICY AND DATA PROTECTION</strong></span></p>
                                                <p style="margin:0"><span>In compliance with current legislation, Hotel
                                                        Distribute (hereinafter, also referred to as the Website)
                                                        commits to adopting the necessary technical and organizational
                                                        measures according to the appropriate level of security for the
                                                        data collected.</span></p>
                                                <p style="margin:0"><span><br></span></p>
                                                <p style="margin:0"><span><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">Laws
                                                            incorporated into this privacy policy</strong></span></p>
                                                <p style="margin:0"><span>This privacy policy is adapted to the current
                                                        Spanish and European regulations regarding the protection of
                                                        personal data on the internet. Specifically, it complies with
                                                        the following laws:</span></p>
                                                <p style="margin:0">
                                                <ul>
                                                    <li>Regulation (EU) 2016/679 of the European Parliament and of the
                                                        Council of 27 April 2016 on the protection of natural persons
                                                        concerning the processing of personal data and on the free
                                                        movement of such data (GDPR).</li>
                                                    <li>Organic Law 3/2018 of 5 December on the Protection of Personal
                                                        Data and the guarantee of digital rights (LOPD-GDD).</li>
                                                    <li>Royal Decree 1720/2007 of 21 December, which approves the
                                                        Regulation implementing Organic Law 15/1999 of 13 December on
                                                        the Protection of Personal Data (RDLOPD).</li>
                                                    <li>Law 34/2002 of 11 July on Information Society Services and
                                                        Electronic Commerce (LSSI-CE).</li>
                                                </ul>
                                                <p style="margin:0"><span><br></span></p>
                                                <p style="margin:0"><span><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">Identity
                                                            of the person responsible for processing personal
                                                            data</strong></span></p>
                                                <p style="margin:0"><span>Contact email: <a
                                                            class="x-el x-el-a c1-1j c1-1k c1-76 c1-1m c1-1n c1-1o c1-1p c1-68 c1-b c1-77 c1-1w c1-78 c1-79"
                                                            href="mailto:info@hoteldistribute.com"
                                                            target="_blank">{{'info@roomdealstravel.com'}}</a></span></p>
                                                <p style="margin:0"><span><br></span></p>
                                                <p style="margin:0"><span><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">Personal
                                                            Data Registration</strong></span></p>
                                                <p style="margin:0"><span>In compliance with the provisions of the GDPR
                                                        and LOPD-GDD, we inform you that personal data collected by
                                                        Hotel Distribute through the forms extended on its pages will be
                                                        incorporated and treated in our file to facilitate, expedite,
                                                        and fulfill the commitments established between Hotel Distribute
                                                        and the User or the maintenance of the relationship established
                                                        in the forms that the latter fills out, or to attend to a
                                                        request or query from the same. Likewise, in accordance with the
                                                        provisions of the GDPR and the LOPD-GDD, unless the exception
                                                        provided for in Article 30.5 of the GDPR applies, a record of
                                                        processing activities is maintained, specifying, according to
                                                        its purposes, the processing activities carried out and other
                                                        circumstances established in the GDPR.</span></p>
                                                <p style="margin:0"><span><br></span></p>
                                                <p style="margin:0"><span><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">Principles
                                                            applicable to the processing of personal
                                                            data</strong></span></p>
                                                <p style="margin:0"><span>The processing of the personal data of the
                                                        User will be subject to the following principles contained in
                                                        Article 5 of the GDPR and Article 4 and subsequent articles of
                                                        Organic Law 3/2018 of 5 December on the Protection of Personal
                                                        Data and guarantee of digital rights:</span></p>
                                                <p style="margin:0">
                                                <ul>
                                                    <li>Principle of lawfulness, fairness, and transparency: the User’s
                                                        consent will always be required after fully transparent
                                                        information of the purposes for which personal data is
                                                        collected.</li>
                                                    <li>Principle of purpose limitation: personal data will be collected
                                                        for specified, explicit, and legitimate purposes.</li>
                                                    <li>Principle of data minimization: personal data collected will be
                                                        only what is strictly necessary concerning the purposes for
                                                        which they are processed.</li>
                                                    <li>Principle of accuracy: personal data must be accurate and always
                                                        updated.</li>
                                                    <li>Principle of storage limitation: personal data will be kept in a
                                                        form which permits identification of the User only for as long
                                                        as necessary for the purposes of their processing.</li>
                                                    <li>Principle of integrity and confidentiality: personal data will
                                                        be processed in a manner that ensures its security and
                                                        confidentiality.</li>
                                                    <li>Principle of proactive accountability: the Data Controller will
                                                        be responsible for ensuring that the above principles are
                                                        complied with.</li>
                                                </ul>
                                                <p style="margin:0"><span><br></span></p>
                                                <p style="margin:0"><span><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">Categories
                                                            of personal data</strong></span></p>
                                                <p style="margin:0"><span>The categories of data processed by Hotel
                                                        Distribute are solely identifying data. Under no circumstances
                                                        are special categories of personal data processed within the
                                                        meaning of Article 9 of the GDPR.</span></p>
                                                <p style="margin:0"><span><br></span></p>
                                                <p style="margin:0"><span><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">Legal
                                                            basis for the processing of personal data</strong></span>
                                                </p>
                                                <p style="margin:0"><span>The legal basis for the processing of personal
                                                        data is consent. Hotel Distribute undertakes to obtain the
                                                        User's explicit and verifiable consent for the processing of
                                                        their personal data for one or more specific purposes.</span>
                                                </p>
                                                <p style="margin:0"><span><br></span></p>
                                                <p style="margin:0"><span>The User has the right to withdraw their
                                                        consent at any time. It will be as easy to withdraw consent as
                                                        to give it. As a general rule, the withdrawal of consent will
                                                        not condition the use of the Website.</span></p>
                                                <p style="margin:0"><span>On occasions where the User must or may
                                                        provide their data through forms to make inquiries, request
                                                        information, or for reasons related to the content of the
                                                        Website, they will be informed if the completion of any of them
                                                        is mandatory because they are essential for the proper
                                                        development of the operation carried out.</span></p>
                                                <p style="margin:0"><span><br></span></p>
                                                <p style="margin:0"><span><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">Purposes
                                                            of processing the personal data</strong></span></p>
                                                <p style="margin:0"><span>Personal data is collected and managed by
                                                        Hotel Distribute to facilitate, expedite, and fulfill the
                                                        commitments established between the Website and the User or the
                                                        maintenance of the relationship established in the forms that
                                                        the latter fills out or to respond to a request or query.</span>
                                                </p>
                                                <p style="margin:0"><span><br></span></p>
                                                <p style="margin:0"><span>Likewise, the data may be used for commercial
                                                        purposes of personalization, operational and statistical
                                                        purposes, and activities related to Hotel Distribute's corporate
                                                        purpose, as well as for the extraction, storage of data, and
                                                        marketing studies to tailor the Content offered to the User and
                                                        improve the quality, operation, and navigation of the
                                                        Website.</span></p>
                                                <p style="margin:0"><span><br></span></p>
                                                <p style="margin:0"><span>At the time personal data is obtained, the
                                                        User will be informed about the specific purpose(s) of the
                                                        processing for which the personal data will be used; i.e., the
                                                        use(s) that will be made of the collected information.</span>
                                                </p>
                                                <p style="margin:0"><span><br></span></p>
                                                <p style="margin:0"><span><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">Retention
                                                            periods for personal data</strong></span></p>
                                                <p style="margin:0"><span>Personal data will only be retained for the
                                                        minimum necessary time for the purposes of its processing and,
                                                        in any case, only for the following period: , or until the User
                                                        requests its deletion.</span></p>
                                                <p style="margin:0"><span>At the time personal data is obtained, the
                                                        User will be informed about the period during which personal
                                                        data will be retained or, when that is not possible, the
                                                        criteria used to determine this period.</span></p>
                                                <p style="margin:0"><span><br></span></p>
                                                <p style="margin:0"><span><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">Recipients
                                                            of personal data</strong></span></p>
                                                <p style="margin:0"><span>The User's personal data will not be shared
                                                        with third parties.</span></p>
                                                <p style="margin:0"><span>In any case, at the time personal data is
                                                        obtained, the User will be informed about the recipients or
                                                        categories of recipients of the personal data.</span></p>
                                                <p style="margin:0"><span><br></span></p>
                                                <p style="margin:0"><span><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">Personal
                                                            data of minors</strong></span></p>
                                                <p style="margin:0"><span>Respecting the provisions of Articles 8 of the
                                                        GDPR and 7 of Organic Law 3/2018 of 5 December on the Protection
                                                        of Personal Data and the guarantee of digital rights, only those
                                                        over 14 years old can lawfully give their consent for the
                                                        processing of their personal data by Hotel Distribute. If it is
                                                        a child under 14 years old, the consent of the parents or
                                                        guardians will be required for the processing, and this will
                                                        only be considered lawful to the extent that they have
                                                        authorized it.</span></p>
                                                <p style="margin:0"><span><br></span></p>
                                                <p style="margin:0"><span><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">Confidentiality
                                                            and security of personal data</strong></span></p>
                                                <p style="margin:0"><span>Hotel Distribute commits to adopting the
                                                        necessary technical and organizational measures according to the
                                                        level of security appropriate to the risk of the data collected
                                                        to ensure the security of personal data and to prevent
                                                        accidental or unlawful destruction, loss, or alteration of
                                                        personal data transmitted, stored, or otherwise processed, or
                                                        unauthorized communication or access to such data.</span></p>
                                                <p style="margin:0"><span><br></span></p>
                                                <p style="margin:0"><span>However, because Hotel Distribute cannot
                                                        guarantee the impregnability of the internet nor the total
                                                        absence of hackers or others who fraudulently access personal
                                                        data, the Data Controller commits to notifying the User without
                                                        undue delay when a personal data security breach is likely to
                                                        result in a high risk to the rights and freedoms of natural
                                                        persons. Following Article 4 of the GDPR, a personal data
                                                        security breach means any breach of security leading to the
                                                        accidental or unlawful destruction, loss, alteration,
                                                        unauthorized disclosure of, or access to personal data
                                                        transmitted, stored, or otherwise processed.</span></p>
                                                <p style="margin:0"><span><br></span></p>
                                                <p style="margin:0"><span>Personal data will be treated as confidential
                                                        by the Data Controller, who commits to informing and
                                                        guaranteeing by a legal or contractual obligation that such
                                                        confidentiality is respected by its employees, associates, and
                                                        anyone to whom the information is made accessible.</span></p>
                                                <p style="margin:0"><span><br></span></p>
                                                <p style="margin:0"><span><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">Rights
                                                            deriving from the processing of personal
                                                            data</strong></span></p>
                                                <p style="margin:0"><span>The User has the following rights over Hotel
                                                        Distribute and can, therefore, exercise the following rights
                                                        recognized in the GDPR and Organic Law 3/2018 of 5 December on
                                                        the Protection of Personal Data and guarantee of digital
                                                        rights:</span></p>
                                                <p style="margin:0">
                                                <ul>
                                                    <li><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">Right
                                                            of access</strong>: The User has the right to obtain
                                                        confirmation as to whether Hotel Distribute is processing their
                                                        personal data and, if so, obtain information about their
                                                        specific personal data and the processing that Hotel Distribute
                                                        has carried out or is carrying out, as well as, among other
                                                        things, the information available about the origin of such data
                                                        and the recipients of the communications made or planned for the
                                                        same.</li>
                                                    <li><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">Right
                                                            of rectification</strong>: The User has the right to have
                                                        their personal data modified that turn out to be inaccurate or,
                                                        considering the purposes of the processing, incomplete.</li>
                                                    <li><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">Right
                                                            of deletion ("the right to be forgotten")</strong>: The User
                                                        has the right, provided that the current legislation does not
                                                        establish otherwise, to obtain the deletion of their personal
                                                        data when these are no longer necessary for the purposes for
                                                        which they were collected or processed; the User has withdrawn
                                                        their consent to the processing and this has no other legal
                                                        basis; the User objects to the processing, and there is no other
                                                        legitimate reason to continue with it; the personal data has
                                                        been processed unlawfully; the personal data must be deleted in
                                                        compliance with a legal obligation; or the personal data has
                                                        been obtained as a result of a direct offer of information
                                                        society services to a child under 14 years old. In addition to
                                                        deleting the data, the Data Controller, considering the
                                                        available technology and the cost of its application, must take
                                                        reasonable steps to inform the data controllers who are
                                                        processing the personal data of the data subject's request to
                                                        delete any link to those personal data.</li>
                                                    <li><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">Right
                                                            to restriction of processing</strong>: The User has the
                                                        right to restrict the processing of their personal data. The
                                                        User has the right to obtain the restriction of the processing
                                                        when they contest the accuracy of their personal data; the
                                                        processing is unlawful; the Data Controller no longer needs the
                                                        personal data, but the User needs them to make claims; and when
                                                        the User has objected to the processing.</li>
                                                    <li><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">Right
                                                            to data portability</strong>: In case the processing is
                                                        carried out by automated means, the User has the right to
                                                        receive from the Data Controller their personal data in a
                                                        structured, commonly used, and machine-readable format, and to
                                                        transmit them to another data controller. Whenever technically
                                                        possible, the Data Controller will transmit the data directly to
                                                        that other controller.</li>
                                                    <li><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">Right
                                                            to object</strong>: The User has the right to object to the
                                                        processing of their personal data or to cease the processing of
                                                        the same by Hotel Distribute.</li>
                                                    <li><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">Right
                                                            not to be subject to a decision based solely on automated
                                                            processing, including profiling</strong>: The User has the
                                                        right not to be subject to a decision based solely on automated
                                                        processing of their personal data, including profiling, unless
                                                        current legislation establishes otherwise.</li>
                                                </ul>
                                                <p style="margin:0"><span><br></span></p>
                                                <ul>
                                                    <li>Name, surname of the User and a copy of the DNI. In cases where
                                                        representation is admitted, it will also be necessary to
                                                        identify by the same means the person representing the User, as
                                                        well as the document accrediting the representation. The
                                                        photocopy of the DNI may be substituted, by any other legally
                                                        valid means that proves identity.</li>
                                                    <li>Request with the specific reasons for the request or information
                                                        to which you want access.</li>
                                                    <li>Address for notification purposes.</li>
                                                    <li>Date and signature of the applicant.</li>
                                                    <li>Any document that accredits the request that is made.</li>
                                                </ul>
                                                
                                                <p style="margin:0"><span>This request and any other attached documents
                                                        can be sent to the following address and/or email:</span></p>
                                                <p style="margin:0"><span>Email: <a
                                                            class="x-el x-el-a c1-1j c1-1k c1-76 c1-1m c1-1n c1-1o c1-1p c1-68 c1-b c1-77 c1-1w c1-78 c1-79"
                                                            href="mailto:info@roomdealstravel.com"
                                                            target="_blank">{{'info@roomdealstravel.com'}}</a></span></p>
                                                <p style="margin:0"><span><br></span></p>
                                                <p style="margin:0"><span><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">Links
                                                            to third-party websites</strong></span></p>
                                                <p style="margin:0"><span>The Website may include hyperlinks or links
                                                        that allow access to third-party websites other than Hotel
                                                        Distribute and are therefore not operated by Hotel Distribute.
                                                        The owners of such websites will have their own data protection
                                                        policies, being themselves responsible for their own files and
                                                        their own privacy practices.</span></p>
                                                <p style="margin:0"><span><br></span></p>
                                                <p style="margin:0"><span><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">Claims
                                                            to the supervisory authority</strong></span></p>
                                                <p style="margin:0"><span>In the event that the User considers that
                                                        there is a problem or infringement of the current regulations in
                                                        the way their personal data is being processed, they will have
                                                        the right to effective judicial protection and to lodge a
                                                        complaint with a supervisory authority, in particular in the
                                                        State where they have their habitual residence, place of work,
                                                        or place of the alleged infringement. In the case of Spain, the
                                                        supervisory authority is the Spanish Data Protection Agency (<a
                                                            class="x-el x-el-a c1-1j c1-1k c1-76 c1-1m c1-1n c1-1o c1-1p c1-68 c1-b c1-77 c1-1w c1-78 c1-79"
                                                            class="x-el x-el-a c1-1j c1-1k c1-76 c1-1m c1-1n c1-1o c1-1p c1-68 c1-b c1-77 c1-1w c1-78 c1-79"
                                                           
                                                            target="_blank"></a>).</span></p>
                                                <p style="margin:0"><span><br></span></p>
                                                <p style="margin:0"><span><strong
                                                            class="x-el x-el-span c1-1j c1-1k c1-b c1-71 c1-40 c1-72 c1-73">II.
                                                            ACCEPTANCE AND CHANGES TO THIS PRIVACY
                                                            POLICY</strong></span></p>
                                                <p style="margin:0"><span>It is necessary that the User has read and
                                                        agrees with the conditions on the protection of personal data
                                                        contained in this Privacy Policy, as well as that they accept
                                                        the processing of their personal data so that the Data
                                                        Controller can proceed with it in the manner, during the
                                                        periods, and for the purposes indicated. The use of the Website
                                                        implies acceptance of its Privacy Policy.</span></p>
                                                <p style="margin:0"><span><br></span></p>
                                                <p style="margin:0"><span>Hotel Distribute reserves the right to modify
                                                        its Privacy Policy, according to its own criteria, or motivated
                                                        by a legislative, jurisprudential, or doctrinal change from the
                                                        Spanish Data Protection Agency. Changes or updates to this
                                                        Privacy Policy will not be explicitly notified to the User. It
                                                        is recommended that the User consult this page periodically to
                                                        stay informed of the latest changes or updates.</span></p>
                                                <p style="margin:0"><span><br></span></p>
                                                <p style="margin:0"><span>This Privacy Policy was updated to adapt to
                                                        Regulation (EU) 2016/679 of the European Parliament and of the
                                                        Council of 27 April 2016 on the protection of natural persons
                                                        regarding the processing of personal data and the free movement
                                                        of such data (GDPR) and Organic Law 3/2018 of 5 December on the
                                                        Protection of Personal Data and the guarantee of digital
                                                        rights.</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div id="e43b0c35-118b-4c17-abc0-885605d6e6c2" class="widget widget-footer widget-footer-footer-1">
                    <div data-ux="Widget" role="contentinfo" id="e43b0c35-118b-4c17-abc0-885605d6e6c2"
                        class="x-el x-el-div x-el c1-1 c1-2 c1-7a c1-b c1-c c1-d c1-e c1-f c1-g c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                        <div>
                            <section data-ux="Section"
                                class="x-el x-el-section c1-1 c1-2 c1-7a c1-54 c1-7b c1-b c1-c c1-q c1-r c1-d c1-e c1-f c1-g">
                                <div data-ux="Divider"
                                    class="x-el x-el-div c1-1 c1-2 c1-7a c1-4p c1-4q c1-14 c1-b c1-c c1-d c1-e c1-f c1-g">
                                    <div data-ux="Container"
                                        class="x-el x-el-div c1-1 c1-2 c1-v c1-w c1-x c1-y c1-z c1-b c1-c c1-10 c1-d c1-11 c1-e c1-12 c1-f c1-13 c1-g">
                                        <hr aria-hidden="true" role="separator" data-ux="DividerHR"
                                            class="x-el x-el-hr c1-1 c1-2 c1-7c c1-7d c1-7e c1-25 c1-t c1-4 c1-b c1-c c1-d c1-e c1-f c1-g" />
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>